body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px;
}
.card {
    background: #1E1E1E;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.card span {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
}
.card img.arrow {
    width: 15px;
    height: 15px;
}
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1E1E1E;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.bottom-nav button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}
.toggle-container {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: #555;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-switch {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s ease;
}

.toggle-container.active {
    background-color: #4CAF50;
}

.toggle-container.active .toggle-switch {
    transform: translateX(20px);
}